
    <div class="wrapper" ng-class="sbc.state.crashed ? 'crashed' : ''">
        <div gameboard>
            <barriers></barriers>
            <food></food>
            <render-segment ng-repeat="segment in sbc.segments" ng-class='(segment[2] + " " + segment[3])'></render-segment>
        </div>

        <br>
        <div style="margin:auto;text-align:center;">
            <button ng-click='sbc.start()'>Start</button>
            <button ng-click='sbc.stop()'>Stop</button>
        </div>
        <br>
    </div>
