<!doctype html>
<html ng-app="app">

<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Snake</title>

		<!-- Fastclick -->
		<script>
			'use strict';
			if (window.addEventListener) {
					window.addEventListener('load', function() {
							FastClick.attach(document.body);
					}, false);
			}
		</script>

		<!-- CSS and JavaScript are injected into the application automatically. -->
		<!-- Add or remove files by editing 'vendorFiles' in build/config.js -->

		<!-- Compiled CSS -->
		<% cssFiles.forEach(function(file) { %><link rel="stylesheet" type="text/css" href="<%= file %>" />
		<% }); %>

		<!-- Compiled JavaScript -->
		<% jsFiles.forEach(function(file) { %><script type="text/javascript" src="<%= file %>"></script>
		<% }); %>

</head>
<!--[if lt IE 7]>
<body class="no-js lt-ie9 lt-ie8 lt-ie7" ng-controller='AppCtrl'> <![endif]-->
<!--[if IE 7]>
<body class="no-js lt-ie9 lt-ie8" ng-controller='AppCtrl'> <![endif]-->
<!--[if IE 8]>
<body class="no-js lt-ie9" ng-controller='AppCtrl'> <![endif]-->
<!--[if gt IE 8]><!-->
<body class="no-js" ng-controller="AppController as app">
<!--<![endif]-->
	<header>
		<div class="row">
			<div class="columns">
				<ul class="breadcrumbs">
					<li><a href="">home</a></li>
					<li><a href="">about</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="medium-4 columns">
				<h1>SNAKE</h1>
			</div>
			<div class="columns medium-8">
				A port of the classic 80's computer game in AngularJs.
			</div>
		</div>
	</header>
	<div class="row">
		<div class="columns" ui-view></div>
	</div>
</body>
</html>
