<!DOCTYPE html>
<html ng-app="app">

<head>
    <link data-require="normalize@*" data-semver="3.0.1" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" />
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" data-semver="2.1.4" data-require="jquery@*"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js" data-semver="1.4.6" data-require="angular.js@*"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js" data-semver="3.10.0" data-require="lodash.js@*"></script>
    <link href="style.css" rel="stylesheet" />
</head>

<body game-controls>
    <div class="wrapper" ng-class="sbc.state.crashed ? 'crashed' : ''">
        <div gameboard>
            <barriers></barriers>
            <food></food>
            <render-segment ng-repeat="segment in sbc.segments" ng-class='(segment[2] + " " + segment[3])'></render-segment>
        </div>

        <br>
        <div style="margin:auto;text-align:center;">
            <button ng-click='sbc.start()'>Start</button>
            <button ng-click='sbc.stop()'>Stop</button>
        </div>
        <br>
    </div>
    <%=
    <script src="app.module.js"></script>
    <script src="snake-byte.module.js"></script>
    <script src="barriers.service.directive.js"></script>
    <script src="food.service.directive.js"></script>
    <script src="snake-byte.controller.js"></script>
    <script src="game-board.directive.js"></script>
    <script src="render-segment.directive.js"></script>
    <script src="game-controls.directive.js"></script>
    <script src="game-state.model.js"></script>
    <script src="snake-state.model.js"></script>
    <script src="configuration.service.js"></script>
</body>

</html>
